.*
!.gitignore
!.gitkeep
*.iml
*.log
*.jar
logs/*
*.py[cod]
*/bin/
!**/eppalert-agent
!**/eppalert-config

!**/**/lib/log4j*

/apps/apps
target/
packages/*
**/env/cliff

*.tar.gz
*.tgz
*.zip
*.image
*.log.*
!application.properties

